* {
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0d192b;
}

p {
    font-size: 18px;
}

main {
    position: relative;
    height: 700px;
    width: 100%;
}

.container {
    background-color: #14253d;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
}

main .container .header {
    margin: auto;
    text-align: center;
    width: 90%;
    margin: 20px;
    border-radius: 10px;
    transition: 0.2s;
    display: flex;
    transition: 1s;
}

main .container .header .img {
    position: relative;
    z-index: 1000;
}

main .container .header .eyes {
    position: absolute;
    height: 34px;
    width: 51px;
    top: 27%;
    left: 44.5%;
    z-index: 50;
}

main .container .header img {
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    /*object-fit: cover;*/
}

.header:hover {
    background-color: #00fff7;
    padding: 0;
}

.header:hover .img {
    opacity: 0.3;
}

.header:hover .eyes {
    z-index: 2000;
}

main .container .content, main .container .foot {
    margin: 0 20px;
    width: 90%;
}

main .container .content h3 {
    color: #ffffff;
    font-weight: bold;
}

main .container .content p {
    color: #8bacda;
    font-weight: 300;
}

main .container .content .span {
    display: flex;
    justify-content: space-between;
}

main .container .content .span div {
    display: flex;
    align-items: center;
}

main .container .content .span .left p {
    color: #00fff7;
}

main .container .content .span p {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    line-height: 50px;
}

main .container .content .span .img {
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
}

main .container .content h3 {
    cursor: pointer;
}

main .container .content h3:hover {
    color: #00fff7;
}

hr {
    background: #2f415b;
    height: 1.5px;
    width: 92%;
    border: none;
}

main .container .foot p {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    line-height: 50px;
    color: #8bacda;
    font-weight: normal;
}

main .container .foot .img {
    line-height: 50px;
    vertical-align: middle;
    font-size: 40px;
}

main .container .foot .img img {
    height: 10%;
    width: 10%;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

#name {
    color: #ffffff;
    cursor: pointer;
}

#name:hover {
    color: #00fff7;
}

@media only screen and (max-width: 650px) {
    main {
        height: 700px;
    }
    .container {
        width: 90%;
    }
}

